@import '../../styles/colors';
@import '../../styles/samples';
@import '../../styles/size';

div {
    .nav-wrapper {
        background: url(../../imgs/sea.jpg), no-repeat;
        background-size: cover;
        background-position: center;
        background-color: rgb(14, 14, 14, 0.1);
        background-blend-mode: darken;
        color: snow;
        width: 100%;
        height: 92vh;
        margin-bottom: 180px;

        .start {
            display: grid;
            grid-template-columns: 1fr 0.4fr;
            padding: 20px;

            .nav-img {
                margin-left: 75px;
            }

            .nav-links {
                a {
                    text-decoration: none;
                    color: snow;
                    margin: 10px;
                }
            }
        }


        .nav-p {
            margin-top: 69px;
            margin-left: 75px;

            h1 {
                font-size: 5.5em;
            }

        }

        .button {
            button {
                @extend %button;
                margin-left: 75px;
                margin-top: 30px;
                width: 230px;
                height: 50px;
            }
        }

        .recomendations {
            position: relative;
            margin-top: 120px;

            .first {
                position: absolute;
                left: 58%;
            }

            .second {
                position: absolute;
                left: 84%;
            }

            .player {
                position: absolute;
                top: 79px;
                left: 999px;
            }
        }
    }

    @media (max-width: 1420px) {
        .nav-wrapper {
            .recomendations {
                .first {
                    left: 50%;
                }

                .second {
                    left: 80%;
                }

                .player {
                    left: 64%;
                }
            }
        }
    }

    @media (max-width: 1224px) {
        .nav-wrapper {
            .recomendations {
                .first {
                    left: 48%;
                }

                .second {
                    left: 80%;
                }

                .player {
                    left: 62%;
                }
            }
        }
    }

    @media (max-width: 1197px) {
        .nav-wrapper {
            .recomendations {
                .first {
                    left: 46%;
                }

                .second {
                    left: 78%;
                }

                .player {
                    left: 60%;
                }
            }
        }
    }

    @media (max-width: 1157px) {
        .nav-wrapper {
            .recomendations {
                .first {
                    left: 43%;
                }

                .second {
                    left: 77%;
                }

                .player {
                    left: 57%;
                }
            }
        }
    }

    @media (max-width: 1080px) {
        .nav-wrapper {
            .recomendations {
                .first {
                    left: 42%;
                }

                .second {
                    left: 77%;
                }

                .player {
                    left: 56%;
                }
            }
        }
    }

    @media (max-width: 1033px) {
        .nav-wrapper {

            .recomendations {
                .first {
                    left: 38%;
                }

                .second {
                    left: 75%;
                }

                .player {
                    left: 52%;
                }
            }
        }
    }

    @media (max-width: 996px) {
        .nav-wrapper {
            .start {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 20px;

                .nav-img {
                    margin-left: 44px;
                }
            }

            .recomendations {
                .first {
                    left: 34%;
                }

                .second {
                    left: 74%;
                }

                .player {
                    left: 48%;
                }
            }
        }

    }

    @media (max-width: 930px) {
        .nav-wrapper {

            .recomendations {
                .first {
                    left: 30%;
                }

                .second {
                    left: 72%;
                }

                .player {
                    left: 44%;
                }
            }
        }
    }

    @media (max-width: 890px) {
        .nav-wrapper {
            .recomendations {
                .first {
                    left: 26%;
                }

                .second {
                    left: 70%;
                }

                .player {
                    left: 40%;
                }
            }
        }
    }

    @media (max-width: 850px) {
        .nav-wrapper {
            .recomendations {
                .first {
                    left: 22%;
                }

                .second {
                    left: 68%;
                }

                .player {
                    left: 36%;
                }
            }
        }
    }

    @media (max-width: 810px) {
        .nav-wrapper {
            height: 12vh;
            margin-bottom: 20px;

            .start {
                display: grid;
                grid-template-columns: 1fr 1.9fr;
                padding: 20px;
            }

            .nav-p {
                display: none;
            }

            .button {
                display: none;
            }

            .recomendations {
                display: none;
            }
        }
    }

    @media (max-width: $medium) {
        .nav-wrapper {

            .start {
                display: grid;
                grid-template-columns: 1fr 2fr;
                padding: 20px;
            }
        }
    }



    @media (max-width: 520px) {
        .nav-wrapper {
            .start {
                display: grid;
                grid-template-columns: 1fr 2.5fr;
                padding: 20px;
            }
        }

    }

    @media (max-width: $small) {
        .nav-wrapper {
            .start {
                display: grid;
                grid-template-columns: 1fr 8.9fr;
                padding: 11px;

                .nav-img {
                    margin-left: 34px;
                }
            }
        }
    }

    @media (max-width: 372px) {
        .nav-wrapper {
            .start {
                display: grid;
                grid-template-columns: 1fr 9fr;
                padding: 16px;

                .nav-img {
                    margin-left: 0px;
                }
            }
        }
    }
}