@import '../../../styles/colors';

div {
    .gallery-wrapper {
        position: relative;

        h1 {
            color: $primary;
            margin-top: 50px;
            margin-bottom: 30px;
            margin-left: 75px;
        }

        a {
            position: absolute;
            top: 17px;
            right: 100px;
            color: $dark;
        }

        .pictures {
            margin-left: 25px;

            img {
                position: absolute;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .p-1 {
                top: 359px;
                left: 880px;
            }

            .p-2 {
                left: 508px;
            }

            .p-3 {
                left: 875px;
            }

            .p-4 {
                left: 1147px;
            }

            .p-5 {
                top: 375px;
            }

            .p-6 {
                top: 375px;
                left: 240px;
            }

            .p-7 {
                top: 515px;
                left: 240px;
            }
        }

        .null {
            margin-bottom: 700px;
        }
        

        @media (max-width: 1450px) {
            .pictures{
                .p-1{
                    display: none;
                }

                .p-4{
                    width: 266px;
                    height: 263px;
                    top: 375px;
                    left: 880px;
                }
            }
        }
        
        @media (max-width: 1160px) {
            .pictures{

                .p-2{
                    left: 250px;
                }

                .p-3{
                    left: 622px;
                }

                .p-4{
                    width: 266px;
                    height: 263px;
                    top: 375px;
                    left: 622px;
                }

                .p-6{
                    display: none;
                }

                .p-7{
                    display: none;
                }

                .p-8{
                    width: 217px;
                    height: 264px;
                }
            }
        }

        @media (max-width: 908px) {
            .pictures{
                .p-4{
                    display: none;
                }
                
                .p-3{
                    display: none;
                }
            }
        }

        @media (max-width: 630px) {
            .pictures{
                .p-8{
                    display: none;
                }

                .p-5{
                    display: none;
                }

                .p-2{
                    left: 30px;
                }
            }
        }
        
        @media (max-width: 725px) {
            h1 {
                margin-left: 55px;
            }
        }

        @media (max-width: 678px) {
            h1 {
                margin-left: 35px;
            }

            a {
                right: 30px;
            }
        }

        @media (max-width: 566px) {
            h1 {
                margin-left: 15px;
            }

            a {
                right: 10px;
            }
        }

        @media (max-width: 566px) {
            .h1AndA {
                display: grid;
                grid-template-columns: 1fr 1fr;

                h1 {
                    margin-left: 15px;
                }

                a {
                    right: 60px;
                }
            }
        }

        @media (max-width: 500px) {
            .h1AndA {
                display: grid;
                grid-template-columns: 1fr 1fr;

                h1 {
                    margin-left: 15px;
                }

                a {
                    right: 40px;
                }
            }
        }
    }
}