@import '../../../styles/colors';

div {
    .gallery-wrapper {
        position: relative;

        h1 {
            color: $primary;
            margin-top: 50px;
            margin-bottom: 30px;
            margin-left: 75px;
        }

        a {
            position: absolute;
            top: 17px;
            right: 100px;
            color: $dark;
        }

        .pictures {
            margin-left: 25px;

            img {
                position: absolute;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .p-1 {
                top: 359px;
                left: 880px;
            }

            .p-2 {
                left: 508px;
            }

            .p-3 {
                left: 875px;
            }

            .p-4 {
                left: 1147px;
            }

            .p-5 {
                top: 375px;
            }

            .p-6 {
                top: 375px;
                left: 240px;
            }

            .p-7 {
                top: 515px;
                left: 240px;
            }
        }

        .null {
            margin-bottom: 700px;
        }

        @media (max-width: 725px) {
            h1 {
                margin-left: 55px;
            }
        }

        @media (max-width: 678px) {
            h1 {
                margin-left: 35px;
            }

            a {
                right: 30px;
            }
        }

        @media (max-width: 566px) {
            h1 {
                margin-left: 15px;
            }

            a {
                right: 10px;
            }
        }

        @media (max-width: 566px) {
            .h1AndA {
                display: grid;
                grid-template-columns: 1fr 1fr;

                h1 {
                    margin-left: 15px;
                }

                a {
                    right: 60px;
                }
            }
        }

        @media (max-width: 500px) {
            .h1AndA {
                display: grid;
                grid-template-columns: 1fr 1fr;

                h1 {
                    margin-left: 15px;
                }

                a {
                    right: 40px;
                }
            }
        }
    }
}