@import '../../../styles/colors';

.values-wrapper {
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
    padding-left: 100px;

    h1 {
        color: $primary;
    }

    .values-content {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        .value-item {
            display: flex;

            div {
                h2 {
                    margin-bottom: 30px;
                    margin-left: 20px;
                }

                p {
                    font-size: 1.5em;
                    margin-left: 20px;
                }

                padding-top: 45px;
            }
        }
    }

    @media (max-width: 1089px) {
        .values-content {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 782px) {
    .values-wrapper{
        padding-left: 40px;
    }
}

@media (max-width: 582px) {
    .values-wrapper{
        padding-left: 20px;
    }
}

@media (max-width: 544px) {
    .values-wrapper{
        padding-left: 0px;
    }
}

@media (max-width: 435px) {
    .values-wrapper{
        padding-left: 0px;

        .values-content{
            .value-item{
                div{
                    h2{
                        margin-left: 0;
                    }

                    p{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}